<div title="Administracion" style="overflow:auto;padding:10px">
		<a href="<?php echo $base_url;?>admin/users" class="in-menu" style="text-align:left;display:none;padding:2px" data-options="plain:true,width:'98%',height:'20px'">Usuarios</a>
		<a href="<?php echo $base_url;?>admin/cuadrantes" class="in-menu" style="text-align:left;display:none;padding:2px" data-options="plain:true,width:'98%',height:'20px'">Cuadrantes</a>
</div>

<div title="Salir" style="overflow:auto;padding:10px">
		<a href="<?php echo $base_url;?>logoff" class="in-menu" style="text-align:left;display:none;padding:2px" data-options="plain:true,width:'98%',height:'20px'">Salir</a>
</div>
