<div title="Calendario" style="overflow:auto;padding:10px;">
	<a href="<?php echo $base_url;?>main" class="in-menu" style="text-align:left;display:none;padding:2px" data-options="plain:true,width:'98%',height:'20px'">Calendario</a>
</div>

<div title="Entrenamientos" style="overflow:auto;padding:10px;">
	<a href="<?php echo $base_url;?>entrenamiento/rodadas" class="in-menu" style="text-align:left;display:none;padding:2px" data-options="plain:true,width:'98%',height:'20px'">Rodadas</a>
</div>

<div title="Eventos" style="overflow:auto;padding:10px;">
	<a href="<?php echo $base_url;?>entrenamiento/eventos" class="in-menu" style="text-align:left;display:none;padding:2px" data-options="plain:true,width:'98%',height:'20px'">Eventos</a>
</div>
